{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{%block title%} Eliminar Reservación {% endblock %}


{% block content %}
  <br>
    <div class="d-flex justify-content-center">
  <div>
    <div class="card-header bg-primary text-white">
      <h3 class="card-title text-center">Eliminar Reservacion</h3>
    </div>
    <form class="for form-control form-row" method="post">
      {% csrf_token %}
      <div class="card-body">
        <div class="alert alert-danger">
          <strong>Cuidado!</strong>
          <br>
          Estas seguro de eliminar la Reservación?.
          <br>
          <p><strong>Nombre:</strong> {{ object.name}} <strong>y Edad:</strong> {{ object.edad }}<strong> y Metodo de Pago:</strong> {{ object.get_metodoDePago_display }}</p>
        </div>
      </div>
      <div class="card-footer text-center">
        {%if not request.user.is_staff %}
          <input type="submit" class="btn btn-warning" value="Eliminar">
         {% else %}
          <input type="submit" class="btn btn-warning" value="Eliminar">
        {%endif%}
        <a href="{% url 'manageReservation' %}" class="btn btn-danger">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}