{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{%block title%} Update Room {% endblock %}


{% block content %}
<style>
    body{
        background-image: url("{% static 'medias/esteSi.jpg'%}");
        background-size: 100% 100%;
    
    }
    </style>

    <div class="">
        <br>
        <br>
        {% block titulo %}
            <h3 class="card-title text-center fw-bold">Actualizar Room</h3>
        {% endblock %}

        <div class="container w-50">

            <form class="for form-control form-row" method="post">

                <div class="card-body">
                    {% csrf_token %}
                    {% block forms %}
                        {{ form| crispy }}
                    {% endblock %}


                </div>
                <div class="card-footer">
                    {% block buttons %}
                        <input type="submit" class="btn btn-primary" style="margin-left: 100px;" value="Actualizar">
                    {% endblock %}


                    <a href="{% url 'listarRoom' %}" class="btn btn-danger" style="margin-left: 200px;">Cancelar</a>

                </div>
            </form>


        </div>
        <br>
        <br>
        <br>
    </div>
{% endblock %}